body {
  font-family: 'Lato', serif;
}

ul li {
  display: inline;
  color: #51a0c3;
}

#logo {
  float: left;
  height: 50px;
  width: 60px;
  margin-top: -15px;
}

#main-nav {
  background: #fff;
}

#navbar-custom li a{
  color: #51a0c3;
}
#header {
  background:url('../img/header.jpg');
  height: 800px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
}

#about {
  background-color: #70aaac;
  color: #333333;
  height:500px;
  margin: 0 auto;
  padding: 40px 0 260px 0;
  content: normal;
}

#programs {
  background-color: #5acec2;
  color: #333333;
  height:500px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0 260px 0;
}

#calendar {
  background-color: #ff5600;
  color: #333333;
  height:650px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0 260px 0;
}

#contact {
  background-color: #9ceff9;
  color: #333333;
  height:300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0;
}

#h1 {
  font-size: 250%;
}

.glyphicon {
  font-size: 50px;
}
