@media (max-width: 419px) {

  #about {
    height: 700px;
  }

  #programs {
    height: 940px;
  }

  #contact {
    height: 400px;
  }

  #calendar {
    height: 500px;
  }

  #gallery {
    height: 890px;
  }
}

@media (min-width: 420px)
and (max-width: 510px) {
  #programs {
    height: 900px;
  }

  #calendar {
    height: 500px;
  }

  #gallery {
    height: 1300px;
  }

}

@media (min-width: 511px)
and (max-width: 900px){
  #programs {
    height: 780px;
  }
  #contact {
    height: 500px;
  }
  #calendar {
    height: 750px;
  }

  #gallery {
    height: 1700px;
  }

}

@media (min-width: 901px) {
  #calendar {
    height: 1050px;
  }
}

.responsiveCal {

position: relative; padding-bottom: 75%; height: 0; overflow: hidden;

}

.responsiveCal iframe {

position: absolute; top:0; left: 0; width: 100%; height: 100%;

}
